/* 전체적인 세팅부터 */
*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}
.container{
    height: 100%;
    background-color: pink;
}

/* 스크린 크기조정 */
.chat-screen{
    height: calc(100% - 120px);
}
/* 유저 정보 표시되는 부분 */
.user{
    background-color: white;
    padding: 16px;
    height: 80px;
}
.user__column{
    float: left;
}
.user__pic{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: pink;
}
.user__nick, .user__count{
    margin: 5px;
}
.user__count{
    font-size: 20px;
    color:gray;
}

/* 채팅 입력 창 */
.chat-form{
    height: 120px;
    background-color: white;
}
.chat-form__field{
    height: 120px;
}
.chat-form_msg{
    float: left;
    width: calc(100% - 120px);
    height: 120px;
    border: none;
    resize: none;
    font-size: 24px;
    padding: 10px;
}
.chat-form__bt{
    float: left;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: pink;
    font-size: 18px;
}

.chat-form_msg:focus{
    outline: none;
}

.chat-form__bt:active{
    background-color: rgb(255, 135, 155);
}

.user__nick{
    font-family: "궁서체";
}
